.Rproj.user
.Rhistory
.RData
.Ruserdata
_targets/
_targets.yaml
data/
qcache/

# Ignore all directories ending with _cache
**/*_cache/

# Ignore all directories ending with _files
**/*_files/

# Ignore .html files
**/*.html
